nav{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.parentnav{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    font-size: 18px;
}
.right-section{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    margin-top: 25px;

}
.left-section{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.int1{
    width: 110px;
    height: 35px;
    border-radius: 20px;
}
.int2{
    width: 110px;
    height: 35px;
    border-radius:20px;
    color: whitesmoke;
    background-color: black;
}
.container{
    width: 100%;
    display: flex;
}
.box1{
    width: 45%;
    height: 550px;
background-image: url(saaaa.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin-left: 70px;
margin-top: 30px;
}
.box2{
    width: 45%;
    height: 550px;
    margin-top: 30px;
    background-color: rgb(239, 235, 206);
    
}
.div1{
    font-size: 40px;
    color:rgb(13, 73, 55);
    margin-left: 215px;
    font-weight: 900;
}
.div2{
    font-size: 40px;
    color:rgb(13, 73, 55);
    margin-left: 253px;
    font-weight: 900;
}
.div3{
    font-size: 25px;
    color:rgb(13, 73, 55);
    margin-left: 165px;
}
.div4{
    font-size: 25px;
    color:rgb(13, 73, 55);
    margin-left: 180px;
}
.div5{
    font-size: 25px;
    color:rgb(13, 73, 55);
    margin-left: 230px;
}
.div7{
margin-left: 310px;
height: 30px;
width: 110px;
border-radius: 20px;
border: 1px solid;
background-color:rgb(12, 84, 40);
color:whitesmoke;
}
.add1{
    width: 45%;
    height: 550px;
margin-top: 30px;
margin-left: 70px;
background-color:rgb(239, 235, 206);

}
.div8{
    font-size: 50px;
    color: black;
    margin-left: 220px;
}
.div9{
    font-size: 50px;
    color: black;
    margin-left: 170px;
}
.div10{
    font-size: 50px;
    color: black;
    margin-left: 125px;
}
.div11{
      margin-left: 250px;
height: 30px;
width: 110px;
border-radius: 20px;
border: 1px solid;
background-color: rgb(239, 235, 206);
color: black;
}
.add2{
     width: 45%;
    height: 550px;
    background-image:url(coffie.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin-top: 30px;
}
.add3{
      width: 45%;
    height: 400px;
    background-image:url(coffff.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin-top: 30px;
margin-left: 70px;
}
.add4{
     width: 45%;
    height: 400px;
margin-top: 30px;
background-color:rgb(243, 222, 168) ;
}
.div12{
    font-size: 25px;
    color:black;
    margin-left: 200px;
    font-weight: 600;
}
.div13{
    font-size: 20px;
    color:black;
    margin-left: 125px;
}
.add5{
    width: 45%;
    height: 400px;
    margin-top: 30px;
    margin-left: 70px;
    background-color: black;
}
.class4{
    font-size: 25px;
    color: aliceblue;
    margin-left: 170px;
}
.class5{
    font-size: 25px;
    color: aliceblue;
    margin-left: 70px;
}
.class6{
    font-size: 25px;
    color: aliceblue;
    margin-left: 45px;
}
.class7{
    font-size: 25px;
    color: aliceblue;
    margin-left: 260px;
}
.class8{
    height: 30px;
    width: 150px;
    border-radius: 20px;
    border: 1px solid;
    margin-left: 230px;
    background-color: black;
    color: aliceblue;
}
.class1{
    font-size: 25px;
    margin-left: 100px;
}
.class2{
    font-size: 25px;
    margin-left: 105px;
}
.class3{
    font-size: 25px;
    margin-left: 150px;
}
.div14{
    font-size: 20px;
    margin-left: 83px;
}
.div15{
    font-size: 20px;
    margin-left: 230px;
}
.div18{
    height: 30px;
    width: 110px;
    border-radius: 20px;
    border: 1px solid;
    margin-left: 250px;
    background-color: rgb(243, 222, 168);
    color: black;
}
.add6{
     width: 45%;
    height: 400px;
    background-image:url(img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
}
.add7{
    width: 45%;
    height: 550px;
    margin-top: 30px;
    background-image:url(saaa.webp) ;
    margin-left: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.add8{
    width: 45%;
    height: 550px;
    margin-top: 30px;
    background-color: rgb(44, 79, 44);
}
.class9{
    font-size:40px;
    font-weight: bold;
    margin-left: 155px;
    color: whitesmoke;
}
.class10{
    font-size: 40px;
    font-weight: bold;
    margin-left: 215px;
    color: whitesmoke;
}
.class11{
    font-size: 25px;
    margin-left: 118px;
    color: whitesmoke;
}
.class12{
    font-size: 25px;
    margin-left: 91px;
    color: whitesmoke;
}
.class13{
    font-size: 25px;
    margin-left: 145px;
    color: whitesmoke;
}
.class14{
    height: 30px;
    width: 150px;
    border-radius: 20px;
    border: 1px solid;
    background-color: rgb(44, 79, 44);
    color: whitesmoke;
    margin-left: 240px;
}
.add9{
    width: 45%;
    height: 550px;
    margin-top: 30px;
    margin-left: 70px;
    background-color: rgb(12, 84, 40);
}
.class15{
    font-size: 50px;
    margin-left: 180px;
    color: whitesmoke;
}
.class16{
    font-size: 50px;
    margin-left: 188px;
    color: whitesmoke;
}
.class17{
    font-size: 25px;
    margin-left: 130px;
    color: whitesmoke;
}
.class18{
    font-size: 25px;
    margin-left: 113px;
    color: whitesmoke;
}
.class19{
    font-size: 25px;
    margin-left: 134px;
    color: whitesmoke;
}
.class20{
    height: 30px;
    width: 150px;
    border-radius: 20px;
    border: 1px solid;
    margin-left: 240px;
    background-color: rgb(12, 84, 40);
    color: whitesmoke;
}
.add10{
     width: 45%;
    height: 550px;
    background-image:url(tin.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
}
.class21{
    margin-left: 30%;
}
table{
    width: 80%;
    background-color: white;
    text-align: center;
    height: 8cm;
}
.class22{
    background-color: white;
    border: 0cap white;
    font-size: 15px;
}
.class23{
    background-color: white;
    border: 0cap white;
    font-size:15px ;
}
.class24{
    background-color: white;
    border: 0cap white;
    font-size: 15px;
}
.class25{
    background-color: white;
    border: 0cap white;
    font-size: 15px;
}
.class26{
    background-color: white;
    border: 0cap white;
    font-size: 15px;
}
.class27{
    background-color: white;
    border: 0cap white;
    font-size: 15px;
}
.class28{
    background-color: white;
    border: 0cap white;
    font-size: 15px;
}
.class29{
    opacity: 50%;
}
.class36{
    margin-left: 200px;
}
.class37{
    margin-left: 260px;
}
.class38{
    width: 20%;
    background-color: white;
    font-size: 30px;
    height: 0%;
}
.class39{
    margin-left:17px;
}
.class40{
    margin-left:23px ;
}
.class41{
    margin-left:26px;
}
.class42{
    margin-left: 30px;
}

